<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sistema de Evaluaci&oacute;n M&uacute;ltiple</title>

	<link rel="stylesheet" href="css/style.css"/>
</head>
<body>
	<div class="contenedor">
		<div class="L w100">
			<div class="L w100 c_orange">
				<div class="space_min">&nbsp;</div>
			</div>
			<div class="L w100 banner">
				<div class="L w50">
					<img  src="img/bloc-don2.png"/>
				</div>
				<div class="R w50">
					<img  class="R r3" src="img/logo_1.png"/>
				</div>
			</div>

		</div>
		<div class="L w100">
		<div class="L w100 fondo1">
			<a href="">
				<div class="donwload"></div>
				<div class="text"></div>
			</a>
		</div>
		<div class="L w100 img_1"></div>
		<div class="w100 L txt_center">
			<h3>Consulta de Rendimiento de Personal</h3>
		</div>
		<fieldset>
			<div class="L w60"><strong>Estimado Usuario:</strong>&nbsp;&nbsp;Seleccione el pa&iacute;s donde realizara la consulta.
			</div> 
			<div class="L w40">
				<select class="R r8">
					<option>-- Selecci&oacute;n de Pa&iacute;s --</option>
					<option>Guatemala</option>
					<option>Honduras</option>
					<option>El Salvador</option>
					<option>Nicaragua</option>
					<option>Costa Rica</option>
					<option>Panama</option>
				</select>
			</div>

			<table class="table_consulta">

				<thead>
					<th><div class="L w100">Promotoras</div><div class="led"></div></th>
					<th><div class="L w100">Edecanes</div><div class="led"></div></th>
					<th><div class="L w100">Supervisor</div><div class="led"></div></th>
				</thead>
				<tbody>
					<tr>
						<td><div class="L led2"></div>
							<div class="w100 L text_table">Reporte N° 1</div>
						</td>
						<td><div class="L led2"></div>
							<div class="w100 L text_table">Reporte N° 1</div>
						</td>
						<td><div class="L led2"></div>
							<div class="w100 L text_table">Reporte N° 1</div>
						</td>
					</tr>
					<tr>
						<td><div class="L led2"></div>
							<div class="w100 L text_table">Reporte N° 2</div>
						</td>
						<td><div class="L led2"></div>
							<div class="w100 L text_table">Reporte N° 2</div>
						</td>
						<td><div class="L led2"></div>
							<div class="w100 L text_table">Reporte N° 2</div>
						</td>
					</tr>
					<tr>
						<td><div class="L led2"></div>
							<div class="w100 L text_table">Reporte N° 3</div>
						</td>
						<td><div class="L led2"></div>
							<div class="w100 L text_table">Reporte N° 3</div>
						</td>
						<td><div class="L led2"></div>
							<div class="w100 L text_table">Reporte N° 3</div>
						</td>
					</tr>
					<tr>
						<td><div class="L led2"></div>
							<div class="w100 L text_table">Reporte N° 4</div>
						</td>
						<td><div class="L led2"></div>
							<div class="w100 L text_table">Reporte N° 4</div>
						</td>
						<td><div class="L led2"></div>
							<div class="w100 L text_table">Reporte N° 4</div>
						</td>
					</tr>
					<tr>
						<td><div class="L led2"></div>
							<div class="w100 L text_table">Reporte N° 5</div>
						</td>
						<td><div class="L led2"></div>
							<div class="w100 L text_table">Reporte N° 5</div>
						</td>
						<td><div class="L led2"></div>
							<div class="w100 L text_table">Reporte N° 5</div>
						</td>
					</tr>
				</tbody>


			</table>

		</fieldset>
	</div>

		<div class="footer">
			<p>Copyright 2014 © I GRUPO SERVINTEGRA S.A. de C.V.
				<br/>
				Todos los Derechos Reservados</p>
			</div>
		</div>


	</body>
	</html>